EDA- Date-20/02/2026

Name : Drishti Heda

PRN : 25070123045

Batch : EnTC A3

TITLE- Creating and Loading dataset

In [1]:
import pandas as pd

data={
    "Roll No": [101,102,103,104,105],
    "Gender": ["Female", "Male", "Female","Male","Female"],
    "Department": ["Computer", "IT","EnTC","Mechanical","Civil"],
    "CGPA":[8.2,7.5,9.1,6.8,8.7]
}

df = pd.DataFrame(data)
df

   Roll No  Gender  Department  CGPA
0      101  Female    Computer   8.2
1      102    Male          IT   7.5
2      103  Female        EnTC   9.1
3      104    Male  Mechanical   6.8
4      105  Female       Civil   8.7

In [4]:
df.to_csv('students.csv', index=False)

In [5]:
df.shape

(5, 4)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Roll No     5 non-null      int64
 1   Gender      5 non-null      object
 2   Department  5 non-null      object
 3   CGPA        5 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 292.0+ bytes

In [7]:
df.size

20

In [8]:
# Access information of Column Department
print(df['Department'])

0      Computer
1            IT
2          EnTC
3    Mechanical
4         Civil
Name: Department, dtype: object

In [9]:
# Access information of PRN 103

df[df['Roll No'] == 103]

   Roll No  Gender Department  CGPA
2      103  Female       EnTC   9.1

In [11]:
# Perform mean, median, mode operation

print('Mean of CGPA:', df['CGPA'].mean())
print('Median of CGPA:', df['CGPA'].median())
print('Mode of CGPA:', df['CGPA'].mode()[0])

Mean of CGPA: 8.059999999999999
Median of CGPA: 8.2
Mode of CGPA: 6.8

In [10]:
# Find out data type of each column

print(df.dtypes)

Roll No         int64
Gender         object
Department     object
CGPA          float64
dtype: object

In [13]:
# Insert a new column Grade

df["Grade"] = ["First Class", "Distinction", "First Class", "Second Class", "Second Class"]

df

   Roll No  Gender  Department  CGPA         Grade
0      101  Female    Computer   8.2   First Class
1      102    Male          IT   7.5   Distinction
2      103  Female        EnTC   9.1   First Class
3      104    Male  Mechanical   6.8  Second Class
4      105  Female       Civil   8.7  Second Class

In [14]:
# Delete Gender column

df = df.drop(columns=['Gender'])
display(df)

   Roll No  Department  CGPA         Grade
0      101    Computer   8.2   First Class
1      102          IT   7.5   Distinction
2      103        EnTC   9.1   First Class
3      104  Mechanical   6.8  Second Class
4      105       Civil   8.7  Second Class

In [15]:
# CGPA of Topper

print('Topper CGPA:', df['CGPA'].max())

Topper CGPA: 9.1

In [ ]:
import pandas as pd

data = {
    "Roll_No": [45, 49, 158, 56, 58],
    "Gender": ["Female", "Female", "Male", "Female", "Female"],
    "Department": ["ENTC", "CS", "IT", "AIML", "ENTC"],
    "CGPA": [8.8, 8.2, 8.0, 8.1, 8.7]
}

df = pd.DataFrame(data)
df.to_csv("data.csv", index=False)

print(df)

   Roll_No  Gender Department  CGPA
0       45  Female       ENTC   8.8
1       49  Female         CS   8.2
2      158    Male         IT   8.0
3       56  Female       AIML   8.1
4       58  Female       ENTC   8.7

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('Cars93.csv')

# Display the first few rows
df.head()

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
0,Acura,Integra,Small,15.9,25,NaN,140,5,26.5,11.0
1,Acura,Legend,Midsize,33.9,18,Driver & Passenger,200,5,30.0,15.0
2,Audi,90,Compact,29.1,20,Driver only,172,5,28.0,14.0
3,Audi,100,Midsize,37.7,19,Driver & Passenger,172,6,31.0,17.0
4,BMW,535i,Midsize,30.0,22,Driver only,208,4,27.0,13.0

In [18]:
import pandas as pd
import numpy as np
cars_df = pd.read_csv('/Cars93.csv')
cars_df

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
0,Acura,Integra,Small,15.9,25,NaN,140,5,26.5,11.0
1,Acura,Legend,Midsize,33.9,18,Driver & Passenger,200,5,30.0,15.0
2,Audi,90,Compact,29.1,20,Driver only,172,5,28.0,14.0
3,Audi,100,Midsize,37.7,19,Driver & Passenger,172,6,31.0,17.0
4,BMW,535i,Midsize,30.0,22,Driver only,208,4,27.0,13.0
...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,19.7,17,NaN,109,7,34.0,NaN
89,Volkswagen,Passat,Compact,20.0,21,NaN,134,5,31.5,14.0
90,Volkswagen,Corrado,Sporty,23.3,18,NaN,178,4,26.0,15.0
91,Volvo,240,Compact,22.7,21,Driver only,114,5,29.5,14.0
92,Volvo,850,Midsize,26.7,20,Driver & Passenger,168,5,30.0,15.0

In [19]:
cars_df.size

930

In [20]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Manufacturer    93 non-null     object
 1   Model           93 non-null     object
 2   Type            93 non-null     object
 3   Price           93 non-null     float64
 4   MPG.city        93 non-null     int64
 5   AirBags         59 non-null     object
 6   Horsepower      93 non-null     int64
 7   Passengers      93 non-null     int64
 8   Rear.seat.room  91 non-null     float64
 9   Luggage.room    82 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 7.4+ KB

In [21]:
cars_df.shape

(93, 10)

In [22]:
cars_df.head()

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
0,Acura,Integra,Small,15.9,25,NaN,140,5,26.5,11.0
1,Acura,Legend,Midsize,33.9,18,Driver & Passenger,200,5,30.0,15.0
2,Audi,90,Compact,29.1,20,Driver only,172,5,28.0,14.0
3,Audi,100,Midsize,37.7,19,Driver & Passenger,172,6,31.0,17.0
4,BMW,535i,Midsize,30.0,22,Driver only,208,4,27.0,13.0

In [23]:
cars_df.tail()

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
88,Volkswagen,Eurovan,Van,19.7,17,NaN,109,7,34.0,NaN
89,Volkswagen,Passat,Compact,20.0,21,NaN,134,5,31.5,14.0
90,Volkswagen,Corrado,Sporty,23.3,18,NaN,178,4,26.0,15.0
91,Volvo,240,Compact,22.7,21,Driver only,114,5,29.5,14.0
92,Volvo,850,Midsize,26.7,20,Driver & Passenger,168,5,30.0,15.0

In [24]:
cars_df.describe()

,Price,MPG.city,Horsepower,Passengers,Rear.seat.room,Luggage.room
count,93.000000,93.000000,93.000000,93.000000,91.000000,82.000000
mean,19.509677,22.365591,143.827957,5.086022,27.829670,13.890244
std,9.659430,5.619812,52.374410,1.038979,2.989072,2.997967
min,7.400000,15.000000,55.000000,2.000000,19.000000,6.000000
25%,12.200000,18.000000,103.000000,4.000000,26.000000,12.000000
50%,17.700000,21.000000,140.000000,5.000000,27.500000,14.000000
75%,23.300000,25.000000,170.000000,6.000000,30.000000,15.000000
max,61.900000,46.000000,300.000000,8.000000,36.000000,22.000000