##Experiment 5 EDA- DATE- 28/01/2026
##Name : Drishti Hedaa
##PRN : 25070123045
##Batch : EnTC A3
##Title: To study Sets and Dictionaries in Python

## PYTHON SETS

In [ ]:
# Creation of Set
thisset = {"The Cook Book", "The Office", "Gilmore Girls"}
print(thisset)

{'The Office', 'The Cook Book', 'Gilmore Girls'}

In [ ]:
# Duplicates not allowed
thisset = {"The Cook Book", "The Office", "Gilmore Girls", "The Cook Book"}
print(thisset)

{'The Office', 'The Cook Book', 'Gilmore Girls'}

In [ ]:
# The values True and 1 are considered the same value in sets, and are treated as duplicates:
thisset = {"The Cook Book","The Office", "Gilmore Girls",True, 1, 2 }
print(thisset)

{True, 2, 'The Cook Book', 'Gilmore Girls', 'The Office'}

In [ ]:
# A set with strings, integers and boolean values:
set1 = {"def", 45, True, 40, "female", 23.5}
set1

{23.5, 40, 45, True, 'def', 'female'}

In [ ]:
# To check membership
thisset = {"Mai Pham", "Youtube", "Forbes"}
print("Mai Pham" in thisset)
print("Instagram" in thisset)

True
False

In [ ]:
# Once a set is created, you cannot replace its items,
# but you can add new items.
thisset = {"Neel", "Dhwani", "Angad"}
thisset.add("Drishti")
print(thisset)

{'Drishti', 'Neel', 'Dhwani', 'Angad'}

In [ ]:
# Remove Item
thisset = {"Neel", "Dhwani", "Angad"}
thisset.remove("Angad")
print(thisset)

{'Neel', 'Dhwani'}

In [ ]:
# Set Operations
A = {10, 20, 30, 40}
B = {30, 40, 50, 60}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)
print("Symmetric Difference:", A ^ B )

Union: {40, 10, 50, 20, 60, 30}
Intersection: {40, 30}
Difference: {10, 20}
Symmetric Difference: {10, 50, 20, 60}

## PYTHON FROZENSET

In [ ]:
# frozenset
x = frozenset({"Shinchan", "Chota Bheem", "Oggy and the cockroaches"})
print(x)
print(type(x))

frozenset({'Oggy and the cockroaches', 'Chota Bheem', 'Shinchan'})
<class 'frozenset'>

# Adding or Removal of elements are not allowed in Frozenset

In [ ]:
'''Problem Statement 1: Unique Event Participants
A college event has a list of students who registered multiple times by mistake.
Write a program  using sets to store participants Names and display only unique participants.'''


# Problem Statement 1: Unique Event Participants

participants = ["Siya", "Diya", "Naino", "Divya", "Mahi", "Pari", "Purvi", "Manan", "Naino", "Mahi", "Siya"]

unique_participants = set(participants)

print("Unique Event Participants:")
for name in unique_participants:
    print(name)

Unique Event Participants:
Divya
Siya
Naino
Pari
Diya
Purvi
Manan
Mahi

In [ ]:
'''Problem Statement 2: Three students choode elective subjects. Find the common subjects chosen by all stuents using set oprations
Concept Used: Set intersection (&)'''

# Problem Statement 2: Common Elective Subjects

# Subjects chosen by three students
jayvee = {"EDA", "AMT", "PES", "DCLD"}
tanmay = {"ECSF", "FEEE", "AMT", "DCLD"}
jahnvi = {"AMT", "ECSF", "DCLD", "CALCULUS"}

# Find common subject
common_subjects = jayvee & tanmay & jahnvi

# Display result
print("Common subjects chosen by all students:")
for subject in common_subjects:
    print(subject)

Common subjects chosen by all students:
AMT
DCLD

In [ ]:
 '''Problem Statement 3: One set contains students in the Cricket Club, another in the Football Club.
Find students who are: 1. In both clubs 2. In only one club
Concepts Used: Intersection, Symmetric difference'''

# Problem Statement 3: Cricket Club and Football Club

# Students in each club
cricket_club = {"Neel", "Kanav", "Jignesh", "Dhruv", "Angad","Kunal"}
football_club = {"Angad", "Neel", "Dhruv", "Ojas", "Kunal"}

# 1. Students in both clubs (Intersection)
both_clubs = cricket_club & football_club

# 2. Students in only one club (Symmetric Difference)
only_one_club = cricket_club ^ football_club

# Display results
print("Students in both Cricket and Football clubs:")
for student in both_clubs:
    print(student)

print("\nStudents in only one club:")
for student in only_one_club:
    print(student)

Students in both Cricket and Football clubs:
Dhruv
Neel
Kunal
Angad

Students in only one club:
Jignesh
Kanav
Ojas

In [ ]:
'''Problem Statement 4: Absent Students
Given a set of all students and a set of present  students, find the absent students.
Concept Used: Set Difference (-)'''

# Problem Statement 4: Absent Students

# Set of all students
all_students = {"Tanmay", "Jayvee", "Falak", "Hiranya", "Drishti", "Jahnvi", "Tannishtha", "Shreya", "Gunjan", "Jui"}

# Set of present students
present_students = {"Drishti", "Jayvee", "Jahnvi", "Tannishtha"}

# Find absent students using set difference
absent_students = all_students - present_students

# Display result
print("Absent Students:")
for student in absent_students:
    print(student)

Absent Students:
Falak
Shreya
Jui
Tanmay
Hiranya
Gunjan

In [ ]:
'''Problem Stateemnt: 5:  Remove Invalid Enteries.
A set contains vaild course codes.
Remove a discontinued course code from the set.
Concept Used: remove() / discard()'''


# Using discard() (no error if element not found)

course_codes = {"CS101", "AI202", "ML303", "MECH404"}
course_codes.discard("ML303")

print("Updated Course Codes:")
print(course_codes)

Updated Course Codes:
{'AI202', 'CS101', 'MECH404'}

## PYTHON DICTIONARIES

In [ ]:
thisdict = {
    "brand": "Mercedes",
    "model": "Mercedes-Benz 220d",
    "year": 2024
}

print(thisdict)

{'brand': 'Mercedes', 'model': 'Mercedes-Benz 220d', 'year': 2024}

In [ ]:
# Dictionary takes latest value given for key. It will not allow duplicate

car = {
    "brand": "Mercedes",
    "model": "Mercedes-Benz 220d",
    "year": 2022,
    "year": 2024
}

print(car)

{'brand': 'Mercedes', 'model': 'Mercedes-Benz 220d', 'year': 2024}

In [ ]:
# Changing values in the dictionary

car = {
    "brand": "Mercedes",
    "model": "Mercedes-Benz 220d",
    "year": 2024
}

car["color"] = 'Black'
x = car.values()
print(x) #after the change

dict_values(['Mercedes', 'Mercedes-Benz 220d', 2024, 'Black'])

In [ ]:
student = {
    "PRN": 25070123045,
    "name": "Drishti Heda",
    "branch": "EnTC"
}

print("Name:", student["name"])

Name: Drishti Heda

In [ ]:
#Adding and updating elements
student["year"] = "First"
student["name"] = "Jayvee"
print(student)

{'PRN': 25070123045, 'name': 'Jayvee', 'branch': 'EnTC', 'year': 'First'}

In [ ]:
#Removing Elements
student.pop("branch")
print("After removal:", student)

After removal: {'PRN': 25070123045, 'name': 'Jayvee', 'year': 'First'}

Date- 30/01/2026

In [6]:
'''1. A dictionary stores product names and their prices.
Write a Python Program to update the price of a given product.'''

products = {"Colourful Pens": 10, "Origami Papers": 50}

p = input("Product: ")
price = int(input("New Price: "))

if p in products:
    print("Original Price:", products[p])
    products[p] = price
    print("Updated Price:", products[p])

print(products)

Product: Origami Papers
New Price: 100
Original Price: 50
Updated Price: 100
{'Colourful Pens': 10, 'Origami Papers': 100}

In [8]:
'''2. A dictionary stores student names and marks.
Write a Python Program to search for a student's marks using the names.
If the student is not found, display a suitable message.'''

students = {"Jalin": 85, "Cory": 92, "Mai": 78}

name = input("Enter student name: ")

marks = students.get(name, "Student not found")
print(marks)

Enter student name: Mai
78

In [9]:
students = {"Jalin": 85, "Cory": 92, "RJ": 78}

name = input("Enter student name: ")

if name in students:
    print("Marks:", students[name])
else:
    print("Student not found")

Enter student name: Mai
Student not found

In [34]:
'''3. A dictionary stores usernams and passwords.
Wriite a Python Program to validate user login.'''


users = {"drishti": "1234" , "user": "student"}

user = input("Username: ")
password = input("Password: ")

if user in users and users[user] == p:
    print("Login successful")
else:
    print("Invalid login")

Username: drishti
Password: 1234
Login successful

In [35]:
'''4. A dictionary stores student names and marks.
Write a Python Program to find the student who scores the highest marks.'''

marks = {"Shreya": 80, "Tia": 70, "Ananya": 90}
topper = max(marks, key= marks.get)
print("Topper:", topper)
print("Marks:", marks[topper])

Topper: Ananya
Marks: 90