## Experiment- 6 EDA- DATE- 30/01/2026
## Name : Drishti Heda
## PRN : 25070123045
## Batch : EnTC A3
## Title: Study of conditional statements in Python

## 1a. Check whether a number is positive, negative

In [ ]:
num = int(input("Enter a number:"))

if num > 0:
  print("Positive")
elif num < 0:
    print(" Negative")

Enter a number:45
Positive

##1b. Check whether a number is positive, negative or zero

In [ ]:
num = float(input("Enter a number: "))

if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 34
The number is positive.

##2. Check whether a number is even or odd

In [ ]:
num = int(input("Enter a number: "))

if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 67
Odd

## 3.  Find the greater number between two numbers.

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

if a > b:
    print("Largest:", a)
else:
    print("Largest:", b)

Enter first number: 67
Enter second number: 87
Largest: 87

## 4. Find the largest of three numbers

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

largest = a
if b > largest:
    largest = b
if c > largest:
    largest = c

print("Largest number is:", largest)

Enter first number: 9999
Enter second number: 8888
Enter third number: 1881
Largest number is: 9999

## 5. Get input from user for 5 subjects and find average. Caluclate grade using if-elif-else.

In [ ]:
marks1 = int(input("Enter marks 1: "))
marks2 = int(input("Enter marks 2: "))
marks3 = int(input("Enter marks 3: "))
marks4 = int(input("Enter marks 4: "))
marks5 = int(input("Enter marks 5: "))

avg = (marks1 + marks2 + marks3 + marks4 + marks5) / 5
print("Average =", avg)

if avg >= 90:
    print("Grade A")
elif avg >= 75:
    print("Grade B")
elif avg >= 60:
    print("Grade C")
elif avg >= 40:
    print("Grade D")
else:
    print("Fail")

Enter marks 1: 45
Enter marks 2: 55
Enter marks 3: 65
Enter marks 4: 75
Enter marks 5: 85
Average = 65.0
Grade C

 ## 6. Check wherher a year is a leap year

In [ ]:
y = int(input("Enter year: "))
print("Leap Year" if (y%4==0 and y%100!=0) or y%400==0 else "Not a Leap Year")

Enter year: 2100
Not a Leap Year

## 7. Python Program to check if a Date id valid and print the Incremented Date if it is valid.

In [2]:
# take input
x = input("Enter day/month/year: ").split("/")

d = int(x[0])
m = int(x[1])
y = int(x[2])

# check leap year
leap = False
if (y % 4 == 0 and y % 100 != 0) or (y % 400 == 0):
    leap = True

# find max days in month
if m in [1,3,5,7,8,10,12]:
    max_d = 31
elif m in [4,6,9,11]:
    max_d = 30
elif m == 2:
    if leap:
        max_d = 29
    else:
        max_d = 28
else:
    max_d = 0

# check valid date
if d >= 1 and d <= max_d:
    print("Valid date")

    # find next date
    d = d + 1

    if d > max_d:
        d = 1
        m = m + 1

        if m > 12:
            m = 1
            y = y + 1

    # print next date
    print("Next date:", d, "/", m, "/", y, sep="")

else:
    print("Invalid date")

Enter day/month/year: 26/07/2007
Valid date
Next date:27/7/2007

 ## 8. Salary Calculation with Allowances

In [9]:
basic = int(input("Enter your basic Salary: "))

if basic <= 10000:
  hra = basic*0.20
  da = basic*0.80
  salary = hra + da

if basic <= 20000:
  hra = basic*0.25
  da = basic*0.90
  salary = hra + da

else:
  hra = basic*0.30
  da = basic*0.95
  salary = hra + da

print("Your final salary is: ", salary)

Enter your basic Salary: 78919
Your final salary is:  98648.75

## 9.Tax calculation on the basis of income

Write a python program to calculate income tax based on annual income:

Up to 2,50,000: No tax

2,50,001 - 5,00,000: 5%

Above 10,00,000: 20%

In [12]:
income = float(input("Enter your annual income (in INR): "))
tax = 0.0

if income <= 300000:
    tax = 0
elif income <= 600000:
    tax = (income - 300000) * 0.05
elif income <= 900000:
    tax = 15000 + (income - 600000) * 0.10  # 5% on 3L (15000) + 10% on next slab
elif income <= 1200000:
    tax = 15000 + 30000 + (income - 900000) * 0.15 # 5% on 3L (15000) + 10% on 3L (30000) + 15% on next slab
elif income <= 1500000:
    tax = 15000 + 30000 + 45000 + (income - 1200000) * 0.20 # 5% on 3L (15000) + 10% on 3L (30000) + 15% on 3L (45000) + 20% on next slab
else:
    tax = 15000 + 30000 + 45000 + 60000 + (income - 1500000) * 0.30 # Sum of taxes from previous slabs + 30% on remaining

print(f"Your Income is ₹{income:,.2f}, the calculated tax is ₹{tax:,.2f}.")

Enter your annual income (in INR): 9828291
Your Income is ₹9,828,291.00, the calculated tax is ₹2,648,487.30.