## Basics of Python
## Name : Drishti Heda
##PRN : 25070123045
##Batch : EnTC A3

In [ ]:
# First Python Program/ String
print("Hello, Welcome to Python Programming")

Hello, Welcome to Python Programming

In [ ]:
a = "Hello"
print(a)

Hello

In [ ]:
# Comments
#This is a comment.
print("Hello, World!")

Hello, World!

In [ ]:
## Many Statements
print("Hello World!")
print("Have a good day.")
print("Learning Pyhton is fun!")

Hello World!
Have a good day.
Learning Pyhton is fun!

In [ ]:
print("Hello"); print("How are you?"); print("Bye bye!")

Hello
How are you?
Bye bye!

In [ ]:
print("Python is fun!"); print("Really!")

Python is fun!
Really!

In [ ]:
print("Hello World", end=" ")
print("I will print on the same line.")

Hello World I will print on the same line.

In [ ]:
#Print numbers
a=3
print(a)
print(369)
print(300.300)

3
369
300.3

In [ ]:
#Variables
x = 5
y = "Hello, World!"

print(x)
print(y)

5
Hello, World!

In [ ]:
# Case-Sensitive
a = 4
A = "Sally"

print(a)
print(A)

4
Sally

In [ ]:
#Many Values to Multiple Variables
x,y,z = "Orange", "Banana", "Cherry"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

# Basic Arithmetic Operations

In [1]:
#Basic Arithmetic operations
a = 10
b = 5

print("Addition =", a + b)
print("Subtraction =", a - b)
print("Multiplication =", a * b)
print("Division =", a / b)

Addition = 15
Subtraction = 5
Multiplication = 50
Division = 2.0

## Understanding Data Types

In [ ]:
# Understanding Data Types
x = 10
y = 3.14
z = "Python"
A = True
C=3+2j
print(type(x))
print(type(y))
print(type(z))
print(type(A))
print(type(C))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

## Input from user

In [ ]:
name = input("Enter your name: ")
print("Hello", name)

Enter your name: Drishti
Hello Drishti

In [ ]:
# Taking Input from User
name = input("Enter your name: ")
age = int(input("Enter your age: "))

print("Name:", name)
print("Age:", age)

Enter your name: Drishti Heda
Enter your age: 18
Name: Drishti Heda
Age: 18


## Boolean in python

In [2]:

# Python Booleans
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

## Problem Statements

In [3]:

# Simple Calculator

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Sum =", a + b)
print("Difference =", a - b)
print("Product =", a * b)
print("Quotient =", a / b)

Enter first number: 56
Enter second number: 56
Sum = 112
Difference = 0
Product = 3136
Quotient = 1.0

##Program to calculate sum and average of marks

In [4]:
n = int(input("Enter number of subjects: "))

marks = []
total = 0


for i in range(n):
    m = float(input(f"Enter marks for subject {i+1}: "))
    marks.append(m)
    total += m

average = total / n

print("Sum of marks:", total)
print("Average of marks:", average)

Enter number of subjects: 5
Enter marks for subject 1: 55
Enter marks for subject 2: 65
Enter marks for subject 3: 75
Enter marks for subject 4: 78
Enter marks for subject 5: 65
Sum of marks: 338.0
Average of marks: 67.6

##Area of a Circle

In [5]:
r = float(input("Enter radius: "))
area = 3.14 * r * r
print("Area of circle =", area)

Enter radius: 5.5
Area of circle = 94.985

##Area and Perimeter of a Rectangle

In [6]:
length = float(input("Enter the length of the rectangle: "))
breadth = float(input("Enter the breadth of the rectangle: "))

# Calculations
area = length * breadth
perimeter = 2 * (length + breadth)

print("Area of the rectangle:", area)
print("Perimeter of the rectangle:", perimeter)

Enter the length of the rectangle: 6
Enter the breadth of the rectangle: 7
Area of the rectangle: 42.0
Perimeter of the rectangle: 26.0