## Experiment- 3

## Name- Drishti Heda
## PRN- 25070123045
## Batch- A3
## TITLE :- Study of list and various operations on it

In [ ]:
## Python Lists
mylist = ['Kiwi', 'stawberry', 'cherry']
print(mylist)

['Kiwi', 'stawberry', 'cherry']

In [ ]:
# List Length
mylist = ['Kiwi', 'strawberry', 'cherry']
print(len(mylist))

3

In [ ]:
# A list with strings, integers and boolean values:
list1 = ["def", 56, False, 81, "Female", 30.9, 3+2j]
list1

['def', 56, False, 81, 'Female', 30.9, (3+2j)]

In [ ]:
# Access  Items
mylist = ["Kiwi", "strawberry", "cherry"]
print(mylist[1])

strawberry

In [ ]:
# Reverse/Negative Indexing
mylist = ["Kiwi","strawberry", "cherry"]
print(mylist[-2])

strawberry

In [ ]:
#Slicing
herlist = ["bridgerton", "The Cook Book", "Twinkling Watermelon", "Alcemy of Souls", "Modern Family", "The Office"]
print(herlist[2:5])

['Twinkling Watermelon', 'Alcemy of Souls', 'Modern Family']

In [ ]:
#Slicing
herlist = ["bridgerton", "The Cook Book", "Twinkling Watermelon", "Alcemy of Souls", "Modern Family", "The Office"]
print(herlist[-5:-2])
print(herlist[:3])
print(herlist[2:])
print(herlist[-3:-1])
print(herlist[::2])

['The Cook Book', 'Twinkling Watermelon', 'Alcemy of Souls']
['bridgerton', 'The Cook Book', 'Twinkling Watermelon']
['Twinkling Watermelon', 'Alcemy of Souls', 'Modern Family', 'The Office']
['Alcemy of Souls', 'Modern Family']
['bridgerton', 'Twinkling Watermelon', 'Modern Family']

In [ ]:
# Change the item Value
herlist =["bridgerton", "The Cook Book", "Twinkling Watermelon", "Alcemy of Souls", "Modern Family", "The Office"]
herlist[0] = "The Weekend"
print(herlist)

['The Weekend', 'The Cook Book', 'Twinkling Watermelon', 'Alcemy of Souls', 'Modern Family', 'The Office']

In [ ]:
# Append Items
herlist = ["bridgerton", "The Cook Book", "Twinkling Watermelon", "Alcemy of Souls", "Modern Family", "The Office"]
herlist.append("Taylor Swift")
print(herlist)

['bridgerton', 'The Cook Book', 'Twinkling Watermelon', 'Alcemy of Souls', 'Modern Family', 'The Office', 'Taylor Swift']

In [ ]:
# Insert Items
herlist = ["bridgerton", "The Cook Book", "Twinkling Watermelon", "Alcemy of Souls", "Modern Family", "The Office"]
herlist.insert(1, "Rossee")
print(herlist)

['bridgerton', 'Rossee', 'The Cook Book', 'Twinkling Watermelon', 'Alcemy of Souls', 'Modern Family', 'The Office']

In [ ]:
# Extend List
herlist = ["bridgerton", "The Cook Book", "Twinkling Watermelon", "Alcemy of Souls", "Modern Family", "The Office"]
hislist = ["chess", "Sequence", "Blokus"]
herlist.extend(hislist)
print(herlist)

['bridgerton', 'The Cook Book', 'Twinkling Watermelon', 'Alcemy of Souls', 'Modern Family', 'The Office', 'chess', 'Sequence', 'Blokus']

In [ ]:
# Searching Items
5 in [1,2,3]

False

In [ ]:
# Repetition
list = (' - Symbi- ')*100
list

' - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi-  - Symbi- '

In [ ]:
numbers = [10, 20, 30, 40, 50]
#Slicing Examples
print("Elements from index 1 to 3:", numbers[1:4])
print("First three elements:", numbers[:3])
print("Elements from index 2 onwards (Reverse Indexing):", numbers[-3:])
print("All elements:", numbers[:])

Elements from index 1 to 3: [20, 30, 40]
First three elements: [10, 20, 30]
Elements from index 2 onwards (Reverse Indexing): [30, 40, 50]
All elements: [10, 20, 30, 40, 50]

In [1]:
# Problem Statement - 1

marks = [78, 85, 90, 66, 88]

print("Maximum Marks:", max(marks))
print("Minimum Marks:", min(marks))
print("Total Marks:", sum(marks))
print("Number of Students:", len(marks))
average = sum(marks) / len(marks)
print("Average Marks:", average)

# Sort the marks in ascending order:

marks.sort()
print("Marks in Ascending Order:", marks)

Maximum Marks: 90
Minimum Marks: 66
Total Marks: 407
Number of Students: 5
Average Marks: 81.4
Marks in Ascending Order: [66, 78, 85, 88, 90]

In [4]:
#Problem Statement - 2

student_marks = [80 , 88 , 95, 99 , 96, 75, 94, 90, 78, 69]
print("Highest Mark - ", max(student_marks))
print("Lowest Mark - ", min(student_marks))
print("Average Mark - ", sum(student_marks)/len(student_marks))
student_marks.sort()
print("Ascending Sorted Marks:", student_marks)
student_marks.sort(reverse = True)
print("Descending Sorted Marks:", student_marks)

Highest Mark -  99
Lowest Mark -  69
Average Mark -  86.4
Ascending Sorted Marks: [69, 75, 78, 80, 88, 90, 94, 95, 96, 99]
Descending Sorted Marks: [99, 96, 95, 94, 90, 88, 80, 78, 75, 69]

In [2]:
'''3. Grocery Shopping List
A user maintains a grocery lsit for montly shopping.
Tasks:
1. Create a grocery List
2. Add new items to the list
3. Remove purchased items
4. Display the final shopping list
Concepts Used:  append(),  remove() '''


grocery_list = ["Rice", "Maggi Masala", "Yogurt", "Chocolate"]
print("Initial Grocery List:", grocery_list)

grocery_list.append("Vegetables")
grocery_list.append("Fruits")
print("After Adding Items:", grocery_list)

grocery_list.remove("Rice")
grocery_list.remove("Maggi Masala")
print("After Removing Purchased Items:", grocery_list)

print("Final Shopping List:", grocery_list)

Initial Grocery List: ['Rice', 'Maggi Masala', 'Yogurt', 'Chocolate']
After Adding Items: ['Rice', 'Maggi Masala', 'Yogurt', 'Chocolate', 'Vegetables', 'Fruits']
After Removing Purchased Items: ['Yogurt', 'Chocolate', 'Vegetables', 'Fruits']
Final Shopping List: ['Yogurt', 'Chocolate', 'Vegetables', 'Fruits']

In [5]:
'''4.A person stores phone contacts in a list.
Tasks:
1. Create a list of contacts
2. Add a new contact
3. Delete an existing contact
4. Display contacts alphabetically
Concepts Used: append(), remove(), sort()'''


contacts = ["RJ", "Cory", "Jalin", "Kina"]
print("Initial Contacts List:", contacts)

contacts.append("Cory")
print("After Adding a Contact:", contacts)

contacts.remove("Kina")
print("After Deleting a Contact:", contacts)

contacts.sort()
print("Contacts in Alphabetical Order:", contacts)

Initial Contacts List: ['RJ', 'Cory', 'Jalin', 'Kina']
After Adding a Contact: ['RJ', 'Cory', 'Jalin', 'Kina', 'Cory']
After Deleting a Contact: ['RJ', 'Cory', 'Jalin', 'Cory']
Contacts in Alphabetical Order: ['Cory', 'Cory', 'Jalin', 'RJ']

#

In [6]:
# Problem Statement - Contact Analysis

contact = ["Ivan", "Jayvee", "Angad", "Neel", "Dhwani"]
contact.append("Vivan")
print("The Updated List is: ", contact, "\n")
contact.remove("Ivan")
print("The Removed List is: ", contact, "\n")
contact.sort()
print("The sorted List is: ", contact, "\n")

The Updated List is:  ['Ivan', 'Jayvee', 'Angad', 'Neel', 'Dhwani', 'Vivan']

The Removed List is:  ['Jayvee', 'Angad', 'Neel', 'Dhwani', 'Vivan']

The sorted List is:  ['Angad', 'Dhwani', 'Jayvee', 'Neel', 'Vivan']

In [ ]:
# Problem Statement - 5 - Temperature Analysis

temp = [ 34, 45, 38, 37, 32 , 29, 30 , 28, 31 , 30]
print("The first 5 days Temperature are: ", temp[0:5], "\n")
print("The last 5 days Temperature are: ", temp[-5:], "\n")
print("The highest Temperature: ", max(temp), "\n")
print("The lowest Temperature: ", min(temp), "\n")
print("The average Temperature: ", sum(temp)/len(temp), "\n")

The first 5 days Temperature are:  [34, 45, 38, 37, 32]

The last 5 days Temperature are:  [29, 30, 28, 31, 30]

The highest Temperature:  45

The lowest Temperature:  28

The average Temperature:  33.4

In [ ]:
# Problem Statement - 6 - Daily Expense Tracker

daily_expense = [100, 120, 450, 780, 1122, 567, 768]
print("The Total Expense is: ", sum(daily_expense), "\n")
print("The Average Expense is: ", sum(daily_expense)/len(daily_expense), "\n")
print("The Highest Expense is: ", max(daily_expense), "\n")
print("The Lowest Expense is: ", min(daily_expense), "\n")

The Total Expense is:  3907

The Average Expense is:  558.1428571428571

The Highest Expense is:  1122

The Lowest Expense is:  100

In [ ]:
list1 = [20,30,40,50,60,70]

print(list1[1:3])
print(list1[1:3:1])
print(list1[1:5:2])
print(list1[1:4:3])
print(list1[6:4:-1])

[30, 40]
[30, 40]
[30, 50]
[30]
[70]

In [ ]:
list1 = [20,30,40,50,60,10,70]

print(list1[1:3])
print(list1[1:3:1])
print(list1[1:5:2])
print(list1[1:4:3])
print(list1[6:4:-2])
print(list1[-2:-4:-2])

[30, 40]
[30, 40]
[30, 50]
[30]
[70]
[10]